.footer {
    background: lighten($clr-black, 20%);
    border-top: 1px solid $clr-highlight-alt;
    box-shadow: 0 0 0.5em $clr-black;
    color: $clr-off-white;
    padding: 2.0em 0;

    @include outer-container;

    section {
        padding: 1.0em;

        @include span-columns(12);

        @include media($desktop) {
            @include span-columns(4);
            @include omega(4n);
        }
    }
}
