$header-size: 83%;
.header {
    align-items: center;
    background: $clr-headerbg url(../images/dayton-skyline.svg) no-repeat center bottom;
    background-size: contain;
    color: $clr-headertxt;
    display: flex;
    font-size: 64px;
    justify-content: center;
    min-height: $header-size;
    padding: 2.0em;
    padding-top: 156px;
    text-align: center;
    text-shadow: 2px 2px 0 darken($clr-headerbg, 25%);

    @include media($desktop) {
        padding-top: 82px;
    }
}
