
.navigation {
    background: $clr-navbg;
    border-bottom: 1px solid $clr-highlight-alt;
    box-shadow: 0 0 0.5em #000;
    color: $clr-navtxt;
    padding: 1.0em 2.0em;
    position: fixed;
    top: 0;
    width: 100%;

    @include outer-container(100%);

    a {
        color: $clr-link-out;
        margin: 0 0.5em;
        text-decoration: none;

        &:hover {
            color: $clr-link-over;
        }
    }

    nav {
        padding: 0.5em;
        text-align: center;

        @include span-columns(12);

        @include media($desktop) {
            @include span-columns(4);
            @include omega(4n);
        }
    }

    .logos {
        padding: 0.75em 0.5em;
        text-align: center;

        @include span-columns(12);

        @include media($desktop) {
            padding: 0.25em 0.5em;
            text-align: right;

            @include span-columns(4);
            @include omega(4n);
        }
    }

    .title {
        padding: 0.5em;
        text-align: center;

        @include span-columns(12);

        @include media($desktop) {
            text-align: left;

            @include span-columns(4);
            @include omega(4n);
        }
    }
}



.navlogo__odd {
    height: 24.5px;
    margin-right: 1.0em;
    width: 73.5px;
}

.navlogo__cfd {
    height: 24px;
    width: 24px;
}
