
$rta1: #4ba94f;
$rta2: #c1d830;

$clr-black: #000;
$clr-off-white: #f6f9f6;
$clr-white: #fff;

$clr-gray: #777777;

$clr-highlight: $rta1;
$clr-highlight-alt: $rta2;

$clr-link-out: darken($rta1, 10%);
$clr-link-over: $rta1;

// navigation
$clr-navbg: $clr-black;
$clr_navtxt: $clr-off-white;
$clr-navborder: $clr-white;

// header
$clr-headerbg: darken($rta1, 5%);
$clr-headertxt: $clr-off-white;

// icons
$clr-icon: $clr-gray;
