// Check out https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$mediums-font-sansserif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$mediums-font-heading: medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;

$csstricks-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

$odd: 'Noto Sans', sans-serif;

$fontstack-mono: $csstricks-mono;
$fontstack-body: $mediums-font-sansserif;
$fontstack-headings: $odd;

.odd-h1 {
    height: 24.5px;
    margin-right: 0.25em;
    width: 73.5px;
}
